nav li {
    padding: 0px 2.5em 0px 2.5em;
}
a {
    font-weight: 600;
}
.separate-line {
    border-bottom: 4px black solid;
}
.img-card {
    background-color: gray;
}
.box-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    margin-top: 3em;
    margin-left: 1em
}

.box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.box-checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.box-container:hover input ~ .box-checkmark {
    background-color: #ccc;
}

.box-container input:checked ~ .box-checkmark {
    background-color: #2196F3;
}

.box-checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

.box-container input:checked ~ .box-checkmark::after {
    display: block;
}

.box-container .box-checkmark::after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.card {
    min-height: 10em;
}
blockquote {
    margin: 0 -10em 1rem !important;
}